/.DS_Store
/.IMDB Dataset.csv.icloud
/.airline.csv.icloud
/CorrectionTp1.py
/DataSetTest.py
/Driver_data.csv
/Groceries_dataset.csv
/Lab Activity 1 - EDA & Data Preprocessing (Not Graded).pdf
/Mall_Customers.csv
/Medicaldataset 2.csv
/Social_Network_Ads.csv
/TP 3 - Linear Regression.pdf
/TP01_iris.csv
/TP1.py
/TP2 Random Forest.pdf
/TP2 consignes.pdf
/TP3- DataSet- Ecommerce_Customers.csv
/TP3.py
/TP3Test.py
/TP3_1.py
/TP4.py
/TP5.py
/Tp2.py
/Tp4case2
/Tp5case2.py
/Weather.csv
/algorithme
/labo1airline.py
/labo1wineequality.py
/projetKmeans.py
/sentiment-analysis-of-imdb-movie-reviews.ipynb
/winequality.csv